.battleship__board {
  display: flex;
  flex-direction: column;
  align-items: center;

  .battleship__board--wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 25vw;
    height: 25vw;

    .battleship__boardtile {
      display: flex;
      width: calc(25vw / 11);
      height: calc(25vw / 11);
      justify-content: center;
      align-items: center;

      &.deployable:hover,&.target:hover {
        background-color: yellowgreen !important;
      }

      &.label {
        border: none;
      }

      &:not(.label) {
        border: 1px solid black;
      }

      &.ocean {
        background-color: var(--ocean-color);
      }

      &.hit {
        background-color: var(--miss-color);
      }

      &.board__ship {
        background-color: lightgray;
        &.hit {
          background-color: var(--hit-color);
        }
      }

    }
  }
}
