.battleship__board {
  display: flex;
  flex-direction: column;
  align-items: center;

  .MuiTypography-h6 {
    font-weight: 900;
  }

  .battleship__board--row {
    width: 25vw;
    .battleship__board--col {
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;

      &.occupied {
        background-color: var(--primary-color);
        &.hit {
          background-color: var(--error-color);
        }
      }

      &.label {
        background-color: var(--secondary-color);
        color: white;
      }
    }
  }
}
